.vscode/**
.vscode-test/**
out/test/**
src/**
out/**
node_modules/**
.gitignore
.vsls.json
tsconfig.json
vsc-extension-quickstart.md
PUBLISHING_GUIDE.md
extension_icon_logpulse_*.png
*.vsix
ai-log-analyzer-*.vsix
dist/*.map
