# Default to port 3001 if empty. Deployment environments will inject their own PORT automatically.
PORT=3001

# Set exactly to 'production' to force the Express router to serve the Vite compiled static frontend assets
NODE_ENV=production
